## Variables

Create a variable with name "x" and a value of 10. Execute.

In [1]:
x=10

Tell the computer to show you the value of that variable.

In [2]:
x

10

Can you think of a second way to obtain the same result?

In [4]:
print(x)

10

On the same line, create four new variables: a,b,c, and d, that are equal to 10, 20, 30, and 40, respectively.

In [65]:
a,b,c,d=10,20,30,40

Tell the computer to show you the value corresponding to the variable "b".

In [66]:
print(b)

20

Do the same for "d".

In [67]:
print(d)

40

## Numbers and Boolean Values

Create a variable equal to "True".

In [44]:
x=True

Check its type.

In [45]:
type(x)

bool

Create a variable equal to 99.

In [17]:
a=99

Check its type.

In [46]:
type(a)

int

Check the type of the value 0.99.

In [47]:
b= 0,99
type(b)

tuple

Turn 99 into a *float*.

In [70]:
float(99)

99.0

Turn 0.99 into an integer. What value did you get?

In [71]:
int(0.99)

0

## Strings

Assign the value of 100 to the variable "m".

In [18]:
m=100

With the help of the variable "m", write one line of code where the output after executuion would be *100 days*.

*Hint:* *You could provide four answers to this question!*

In [20]:
print(f'{m} hari')

100 hari

In [21]:
print('{angka} hari'.format(angka=m))

100 hari

Produce an output equal to *It's cool, isn't it?*

In [50]:
print("It's cool, isn't it?")

It's cool, isn't it?

Fix the string below.

In [25]:
x='Dont be shy'
print(x)

Dont be shy

Produce an output equal to *Click "OK"*.

In [48]:
print('Click "OK"')

Click "OK"

Include a plus sign in your line of code to produce *'Big Houses'*.

In [52]:
print('Big'+ ' House')

Big House

Include a trailing comma in your line of code to produce *Big Houses*.

In [53]:
print('Big', 'House')

Big, House

## Arithmetic operators

Combine 15 and 23.

In [26]:
15+23

38

Subtract 50 from 26.

In [30]:
50-26

24

Divide 20 by 4.

In [28]:
20/4

5.0

Divide 22 by 4.

In [54]:
float(22)/4

5.5

Obtain the remainder of the division of 22 by 4.

In [31]:
22%4

2

Divide the float 22 by 4.

In [32]:
22/4

5.5

Multiply 6 by 8.

In [33]:
6*8

48

Raise 15 to the power of 2.

In [34]:
15**2

225

## The double-equality sign

Demonstrate that 100 is not equal to 98.

In [55]:
100!=98

True

## Reassign Values

Assign the value of 14 to a variable p.

In [39]:
p=14

Calculate p + 10.

In [38]:
p+10

24

Now, assign 30 to the variable p.

In [40]:
p=30

Calculate p + 10.

In [41]:
p+10

40

Observe how the value of p is always the last one you have assigned.

## Line Continuation

Add a backslash in the code below, so it is a one-line code. Observe the change in the result.

In [57]:
15 + 31
- 26

-26

In [56]:
15 + 31 \
- 26

20

## Indexing Elements

Extract the letter 'B' from "Bingo!".

In [60]:
a='Bingo'

In [61]:
a[0]

'B'

Extract the letter "u" from "Constitution".

In [63]:
b='Constitution'

In [64]:
b[7]

'u'

## Structure Your Code with Indentation

Use indentation properly to print the result of the function with an argument of 3.

In [1]:
def ten(x):
    x = 10
    return x
print (ten(3))

10