## Creating a Function with a Parameter

Define a function that returns a value equal to its argument multiplied by 2.

In [9]:
def angka(x):
    a = x*2
    return a
angka(2)

4

Define a funciton that returns a float value equal to its argument divided by 2.

In [4]:
def angka(x):
    a = x/2
    return a
angka(7)

3.5

## Another Way to Define a Function

Define a function that states the value of the argument accompanied by the phrase "Raised to the power of 2:" and returns a value equal to its argument raised to the power of 2. This time, use a new variable, called "result", in the body of the Function. 
Call the function with some argument to verify it works properly.

*Hint: Your knowledge about stating multiple elements on a line can be of great help in solving this exercise!*

In [9]:
def angka(x):
    a = x**2
    return a
print ('Raised to the power of 2',angka(7))

Raised to the power of 2 49

## Using a Function in Another Function

Define a function that adds 5 to the parameter. Then, define another function that will multiply the newly obtained number by 3.
Verify your code was correct by calling the second function with an argument of 5. 
Was your output equal to 30?

In [33]:
def angka1(x):
    return x + 5
def angka2(x):
    return angka1(x)*3
angka2(5)

30

## Combining Conditional Statements and Functions

Define a function, called **compare_the_two()**, with two arguments. If the first one is greater than the second one, let it print "Greater". If the second one is greater, it should print "Less". Let it print "Equal" if the two values are the same number.

In [11]:
def compare_the_two(x, y):
    if x > y:
        print('Greater')
    elif x<y:
        print('Less')
    else:
        print('Equal')
compare_the_two(5,5)

Equal

## Notable Built-In Functions in Python

Obtain the maximum number among the values 25, 65, 890, and 15.

In [12]:
max(25, 265, 890, 15)

890

Obtain the minimum number among the values 25, 65, 890, and 15.

In [13]:
min( 25, 65, 890, 15)

15

Find the absolute value of -100

In [14]:
z = -100
abs(z)

100

Round the value of 55.5. Did you obtain 56.0?

In [17]:
round(55.5)

56

Round 35.56789 to the third digit.

In [12]:
round(35.56789,3)

35.568

Find the sum of all elements in the provided list, called "Numbers".

In [44]:
Numbers = [1, 5, 64, 24.5]

In [46]:
sum(Numbers)

94.5

Use a built-in function to raise 10 to the power of 3.

In [39]:
pow(10,3)

1000

How many characters are there in the word "Elephant"?

In [37]:
len('Gajah')

5

Create a function, called "distance_from_zero", that returns the absolute value of a provided single argument and prints a statement "Not Possible" if the argument provided is not a number.
Call the funtion with the values of -10 and "cat" to verify it works correctly.

In [15]:
def distance_from_zero(x):
    if type(x) == int or type(x) == float:
        x=abs(x)
        print('Possible')
    else:
        print('Not Possible')

In [17]:
distance_from_zero(cat)

NameError: name 'cat' is not defined

-10